@font-face {
   font-family: 'SILPAKORN70yr';
   src: url('SILPAKORN70yr/font.ttf');
}
@font-face {
   font-family: 'BoonJot-Regular';
   src: url('BoonJot-Regular/font.ttf');
}
@font-face {
   font-family: 'Opun-Mai-Regular';
   src: url('Opun-Mai-Regular/font.ttf');
}
